@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
body{
  margin: auto;
  max-width: 720px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background: #fafafa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
input{
  -webkit-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
.mt-small{
  margin-top: 16px;
}
.grids{
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}
.grid{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  &.grid-card{
    max-width: 50%;
    min-width: 50%;
    @media (max-width: 480px) {
      max-width: 100%;
      min-width: 100%;
    }
  }
}